/*==== GLOBAL ==== */
:root {
    --dark-blue: #363f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/*==== TITLE ==== */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;

}



/*==== HEADER ==== */

header {
    background: #0F5AF2;
    padding: 2rem 0 10rem;
    text-align: center;

}

#logo {
    width: 5rem;
}

/*==== BALANCE ==== */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: white;
    margin-top: 0;

}

/*==== CARDS ==== */
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0.5rem;
}

.card.total {
    background: #0F5AF2;
    color: white;

}

/*==== FOOTER ==== */
footer {
    text-align: center;
}